@font-face {
	font-family: 'Lobster13Regular';
	src: url('fonts/Lobster-fontfacekit/Lobster_1.3-webfont.eot');
	src: url('fonts/Lobster-fontfacekit/Lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Lobster-fontfacekit/Lobster_1.3-webfont.woff') format('woff'), url('fonts/Lobster-fontfacekit/Lobster_1.3-webfont.ttf') format('truetype'), url('fonts/Lobster-fontfacekit/Lobster_1.3-webfont.svg#Lobster13Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Casper_B';
    src:  url('fonts/Casper/Casper_B.ttf');
}

@font-face {
    font-family: 'Casper_R'; 
    src:  url('fonts/Casper/Casper_R.ttf');
}

@font-face {
    font-family: 'Casper_It'; 
    src:  url('fonts/Casper/Casper_It.ttf');
}

body {
	padding: 0;
	margin: 0;
}
.wood {
	background-image: url("../img/Melamine-wood-005.png");
	background-position: 7px 20px;
}
.main_bg{
	background-image: url("../img/gray_jean.png");
}

.white_bg{
	position: relative;
	border-spacing: 0;
	padding: 20px;
	border-radius: 5px;
	    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.main_line {
	width: 960px;
	margin: 40px auto;
	position: relative;
}
.authform{
	width: 588px;
	margin: 170px auto;

}


.loginform{
	width: 274px;
	margin: 0px 141px 0px 314px;
}
.regform {
	width: 274px;
	margin: 20px 25px 0px 0px;
	position: absolute;
	top: 0;
}

.regform_new {
	width: 274px;
	margin: 45px auto;
}

.regform .video {
	background: rgba(0,0,0,0.1);
	height: 194px;
	margin: 0 0 20px 0px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	padding: 0;
}


.regform_new .inputs{
	height: 81px;
	border-radius: 5px;
	text-align: right;
	cursor: pointer;
	padding: 0;
	position: relative;
	margin-bottom: 10px;
}

.inform{
	font-family: 'Casper_R';
	text-align: left;
	margin: 0 0 10px 0;
	text-indent: 18px;
}

.registr{
	margin: 0 0 20px 0;
	text-align: center;
	font-size: 20px;
	font-family: 'Casper_B';
}

.data{
	margin: 0 0 20px 0;
	position: relative;
}

.day, .month, .year {
	outline: none;
	text-align: center;
	padding: 10px;
	font-family: 'Casper_It';
}

.day{
	width: 28px;
	border: 1px solid lightgray;
	border-radius: 5px 0 0 5px;
	margin: 0;
	font-size: 17px;
	position: absolute;
	top: 0px;
	left: 18px;
}
.month{
	width: 100px;
	border: 1px solid lightgray;
	border-left: none;
	border-right: none;
	margin: 0;
	font-size: 17px;
	margin-left: 68px;
}
.year{
	width: 40px;
	border: 1px solid lightgray;
	border-radius: 0 5px 5px 0;
	margin: 0;
	font-size: 17px;
	position: absolute;
	top: 0px;
}


.regform_new .addphoto {
	width: 80px;
	height: 79px;
	/*background: rgba(0,0,0,0.1);*/
	position: absolute;
	margin: 0;
	border: 1px solid lightgray;
	border-right: none;
	border-radius: 5px 0 0 5px;
	text-align: center;
	line-height: 79px;
	font-family: 'Casper_B';
	color: gray;
}

.regform_new .firtsname,
.regform_new .lastname {
	width: 173px;
	margin: 0;
	padding: 10px;
	font-family: 'Casper_It';
	font-size: 17px;
	outline: none;
}

.lastname,
.firtsname {
	border: 1px solid lightgray;
}

.firtsname {
	border-radius: 0 5px 0 0;
}

.lastname {
	border-radius: 0 0 5px 0;
}

.lastname {
	border-top: none;
}

.regform .video img{
	position: relative;
	top: 55px;
}

.loginform input[type=text],
.loginform input[type=password],
.email,
.password{
	width: 252px;
	padding: 10px;
	font-family: 'Casper_It';
	font-size: 17px;
	outline: none;
	border: 1px solid lightgray;
}

.loginform input[type=text],
.email{
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid lightgray;
	margin: 0;
}
.loginform input[type=password],
.password{
	border-radius: 0 0 5px 5px;
	border-top: none;
	margin: 0;
}


.regform input[type=submit],
.loginform input[type=submit] {
	width: 274px;
	padding: 10px;
	color: white;
	border: none;
	font-family: 'Casper_B';
	font-size: 17px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	border-radius: 5px;
}

.regform_new input[type=submit]{
	width: 274px;
	padding: 10px;
	color: white;
	border: none;
	font-family: 'Casper_B';
	font-size: 17px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	border-radius: 5px;
	background: #7FAF1B;
	margin-top: 20px;
}

.loginform input[type=submit]{
	background: #7FAF1B;
	margin-top: 20px;
}

.companyline{
	width: 860px;
	padding: 0 100px 0 0;
	margin: 0 auto;
	position: relative;
}

.langline {
	text-align: right;
	position: absolute;
	top: -2px;
	right: 0;
	width: 100px;
}

.langline img{
	position: relative;
	top: 2px;
}

.rem_for{
	position: relative;
	margin: 10px 0 0 0;
	font-family: 'Casper_R';
	color: black;
}
.rem_for input{
	 position: relative;
	 top: -1px;
}

.rem_for a{
	text-decoration: none;
	color:#BC8554;
}

.need {
	text-align: center;
	font-family: 'Casper_R';
	font-size: 14px;
	height: 39px;
	line-height: 39px;
}

.forgot {
	position: absolute;
	top: 0;
	right: 3px;
}
.forgot a{
	color: lightgray;
	text-decoration: none;
}
.forgot a:hover{
	color: #000;
}

.Lightoak{
	font-family: 'Casper_B';
	font-size: 60px;
	margin: 0 0 20px 0;
	text-align: center;
}

.nomagrin {
	margin: 0 0 10px 0;
}

.companyline li{
	list-style: none;
	display: inline-block;
	padding-right: 10px;
}

.companyline li a,
.langline{
	text-decoration: none;
	color: rgba(255,255,255,1);
	font-family: 'Casper_R';
}

.regform input[type=submit] {
	background: #BC8554;
}

.logo img{
	opacity: 1;
	width: 80px;
}
.logo .tree_text {
	font-size: 30px;
	padding-left: 10px;
}
.logo button{
	border: none;
	/*border-bottom: 4px solid #659024;
	background: #7DB710;*/
	border-bottom: 4px solid #4F960D;
	background: #59A80F;
	color: white;
	width: 300px;
	font-size: 25px;
	padding: 5px;
    font-family: 'Casper_R'; 
    cursor: pointer;	
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.sing_input {
	border-radius: 3px;
	width: 280px;
	padding: 5px;
    font-family: 'Casper_R'; 
    font-size: 25px;
}

.name {
	width: 120px;
}

.stripe_or_left {
	border-bottom: 2px solid #C5942B;
	width: 50px;
	position: absolute;
	margin-left: 120px;
	margin-top: 9px;
}
.stripe_or_right {
	border-bottom: 2px solid #C5942B;
	width: 50px;
	position: absolute;
	margin-left: 205px;
	margin-top: -8px;
}

.top_menu_table {
	border-spacing: 0;
	height: 46px;
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

.top_menu_table td {
	padding: 0;
}

.top_menu {
	position: fixed;
	top: 0;
/*	border-bottom: 4px solid #4F960D;*/
	background: #59A80F;
	z-index: 1000;

	width: 100%;
	height: 46px;
	color: white;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);

	-webkit-user-select: -moz-none;
	-moz-user-select: -moz-none;
	-ms-user-select: -moz-none;
	user-select: none;
}

.place_now {
	font-family: 'Casper_B', regular;
	color: white;
	font-size: 20px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	height: 46px;
}
.place {
	padding: 0 0 0 28px; 
}

.menu_profile {
	width: 60px;
}
.menu_profile img{
	padding: 5px 0 0 0;
}

.notification img {
	padding: 5px 0 0 0;
}

.menu_add {
	width: 60px;
	color: white;
	font-weight: bold;
	font-size: 25px;
}

.menu_add:hover,.menu_profile:hover,.place_now:hover {
	cursor: pointer;
}

.menu_add:hover{
	background: #4F960D;
}

/*.back_button{
	position: absolute;
	margin-left: 80px;
	background: #4f960d;
	padding: 7px;
	font-size: 20px; 
	z-index: 1;
	top: 11px;
}*/

.dropdown_menu {
	text-align: left;
}

.search {
	width: 64px;
}
.search input{
	font-size: 14px;
	padding: 4px 0 4px 8px;
	font-family: 'Casper_It', regular;
	border: none;
	width: 60px;
	margin: 0 10px;
	border-radius: 3px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	outline: none;
}
.search:hover input {
	width: 200px;
}




.content{
	margin: 66px auto 0 auto;
	width: 960px;
}

.content .primary .post {
	overflow: auto;

	border: 1px solid #d5d4c7;
}

.content .primary .post .title{
	background-image: url("../img/debut_light.png");
	padding: 10px 30px;
	font-family: 'Casper_B';
}

.content .primary .post .title a {
	text-decoration: none;
	color: black;
	font-size: 17px;
}

.content .primary .post .meta {
	font-family: 'Casper_R';
	color: gray;
	font-size: 14px;
	padding: 20px 0 0 30px;
}

.content .primary .post .meta .meta-categories {
	margin-left: 30px;
}
.content .primary .post .meta .meta-categories:before{
	content: url("../img/tree_path2.png");
	height: 22px;
	margin: 0 3px 0 0;
	z-index: 10;
	top: 5px;
	position: relative;
}
.content .primary .post .meta .meta-published:before {
	content: url("../img/clock.png");
	width: 22px;
	height: 22px;
	margin: 0 7px 0 0;
	z-index: 10;
	top: 3px;
	position: relative;

}

.content .primary .post .meta .meta-categories a {
	color: gray;
}
.content .primary .post .info .entry-thumbnail a img{
	border: 1px solid #d5d4c7;
	padding: 5px;
	box-shadow: 1px 1px 1px lightgray;
}

.content .primary .post .info {
	padding: 15px 30px;
}
.content .primary .post {
	margin: 20px 0;
		background: #fff;
}

.entry-content,
.info,
.entry-thumbnail {
	float: left;
}

.entry-content{
	width: 786px;
	line-height: 19px;
/*	background: green;
*/}
.entry-thumbnail {
	width: 112px;
/*	background: blue;
*/}
.author {
	padding:5px 0 0 5px;
}

.entry-content p{
	text-align: justify;
	padding: 0 0 0 20px;
	margin: 0;
/*	font-family: 'Casper_R';*/
font-family: calibri;
	margin: 0 0 10px 0;
}

.content .primary .post .post-buttons-wrap {
	padding: 0 0 10px 0;
	text-align: right;
	width:898px;
/*	background: red;
*/}

.post-price {
	font-family: 'Casper_B';
	margin: 0 20px 0 0;
}

.post-price:before {
	content: url('../img/acorn2.png');
	z-index: 10;
	top: 2px;
	left: -10px;
	position: relative;
}

.content .primary .post .post-buttons-wrap .post-buttons a button{
	border: none;
	background: #CA9F56;
	color: white;
	font-family: 'Casper_It';
	font-size: 15px;
	border-radius: 3px;
	cursor: pointer;
	padding: 7px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.entry-thumbnail a{
	text-decoration: none;
	font-family: 'Casper_R';
	line-height: 19px;
}

.menu_profile li {
    position: relative;
	list-style: none;
        display: inline-block;
        height: 46px;
        text-align: center;
        width: 60px;

}
.menu_profile li ul li a{
    text-decoration: none;
    color: white;
	background: #59A80F;
    display: inline-block;
    height: 46px;
    width: 60px;
    
}

.menu_profile  img{
/*	background: red;*/
padding: 7px 0 0 0;
}


.menu_profile li:hover > a {
        display: inline-block;
        height: 46px;
        text-align: center;
        width: 60px;
        top: 0;

}

/* sub levels link hover */
.menu_profile a:hover {
		background: #4F960D;
        color: black;
}
/* level 2 list */
.menu_profile ul {
	display: none;
	margin: 0;
	padding: 0;
	width: 60px;
	position: absolute;
	top: 46px;
	left: 0;

}

/* dropdown */
.menu_profile li:hover > ul {
	display: block;
}
.menu_profile ul {
	border-bottom: 7px solid #59A80F;
	border-radius: 0 0 7px 7px;
}

.menu_profile li .glass {
	background-position: 0px 0px;
}
.menu_profile li .cap {
	background-position: 0px -46px;
}

.menu_profile .hide_span{
    height: auto;
    padding: 7px;
    width: 60px;
    left: 50px;
    font-family: 'Casper_R';
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 4px solid #CA9F56;
    background: #CA9F56;
    text-indent: 0px;
    border-radius: 5px;
    position: absolute;
    bottom: 4px;
    opacity: 0;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.menu_profile a span:before,
.menu_profile a span:after{
    content: '';
    position: absolute;
    bottom: 4px;
    left: 50%;
    margin-left: -51px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgba(0,0,0,0.1);
}

.menu_profile  a span:after{
    bottom: 4px;
    margin-left: -51px;
    border-right: 10px solid #CA9F56;
}

.menu_profile a:hover span{
    opacity: 1;
    left: 77px;
}

.notifications_button{
	position: relative;
}
.notifications_button{
	width: 60px;
}

.notifications_button:hover {
	background: #4F960D;
}

.notifications_button:hover .notifications_bar{
    display: block;
}

.notifications_button .notifications_bar{
	display: none;
    height: auto;
    left: -60px;
    padding: 10px;
    width: 940px;
    font-family: 'Casper_R';
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: #4F960D;
    text-indent: 0px;
    margin: 0;
    position: absolute;
    top: 46px;
    text-align: justify;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border-radius: 0 0 5px 5px;
}

