/* http://meyerweb.com/eric/tools/css/reset/ 
	   v2.0 | 20110126
	   License: none (public domain)
	*/
	
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
	
@font-face {
    font-family: OfficinaSansExtraBoldOSC; /* имя шрифта для CSS правил */
    src: local("OfficinaSansExtraBoldOSC"), /* проверяем наличие шрифта в ОС пользователя */
         url(font/OfficinaSansExtraBoldOSC.otf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }

@font-face {
    font-family: TrebuchetMS; /* имя шрифта для CSS правил */
    src: local("TrebuchetMS"), /* проверяем наличие шрифта в ОС пользователя */
         url(font/TrebuchetMS.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }

body{
	margin: 0;
	padding: 0;
	font-size: 13px;
	/*font-family: 'PT Sans', sans-serif; */
	font-family: 'PT Sans Caption', sans-serif; 
	background: #edeeef;

/*	background-image: url(../img/14.jpg); 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position-x: -100px;
	background-position-y: -370px;
    background-color: #c7b39b; */
	
}



.welcome_bg {
	background: #338FC8;
}

/* index page*/

.main_line {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.authform{
	width: 580px;
	margin: 100px auto 380px;

}

.white_bg{
	position: relative;
	border-spacing: 0;
	padding: 20px;
	background: #edeeef;
	overflow: auto;
	border-radius: 5px;
}

.loginform, .regform {
	width: 280px;
	float: left;
}

.loginform{
	margin: 0 0 0 20px;
}

.regform_new {
	width: 280px;
	margin: 45px auto 100px auto;
}

.regform .video {
	background: #9ECFEF;
	height: 217px;
	width: 280px;
	margin: 0 0 20px 0px;
	text-align: center;
	cursor: pointer;
	padding: 0;
	border-radius: 5px;
}


.regform_new .inputs{
	height: 81px;
	text-align: right;
	cursor: pointer;
	padding: 0;
	position: relative;
	margin-bottom: 10px;
}

.inform{
	text-align: center;
	margin: 0 0 10px 0;
	padding: 15px 0 0 0;
}

.registr{
	margin: 0 0 20px 0;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

.data{
	margin: 0 auto 10px auto;
	position: relative;
	width: 164px;
}

.day_in, .month, .year {
	outline: none;
	text-align: center;
	padding: 10px;
	font-family: 'PT Sans Caption', sans-serif; 
	font-size: 15px;
	box-shadow: 0 1px 1px #D5D6D7;

}

.day_in{
	width: 30px;
	border: none;
	margin: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 5px 0 0 5px;
}
.month{
	width: 30px;
	border: none;
	border-left: none;
	border-right: none;
	margin: 0;
	margin-left: 51px;
}
.year{
	width: 40px;
	border: none;
	border-radius: 0 5px 5px 0;
	margin: 0;
	position: absolute;
	top: 0px;
	left: 102px;
}


.regform_new .addphoto {
	width: 90px;
	height: 90px;
	position: absolute;
	margin: 0;
	border-radius: 5px;
	border-right: none;
	text-align: center;
	line-height: 140px;
	background: white;
	box-shadow: 0 1px 1px #D5D6D7;

	color: #A9A9A9;
	font-size: 15px;
	font-family: 'PT Sans Caption', sans-serif; 

}

.regform_new .addphoto img{
	position: absolute;
	left: 20px;
	top: 12px;
}

.regform_new .firtsname,
.regform_new .lastname {
	width: 160px;
	margin: 0;
	padding: 10px;
	font-size: 15px;
	outline: none;
	border-radius: 5px;
	border: none;
	box-shadow: 0 1px 1px #D5D6D7;
	font-family: 'PT Sans Caption', sans-serif; 

}
.regform_new .lastname {
	margin: 10px 0 0 0;
}



.video img{
	position: relative;
	top: 65px;
}

.loginform input[type=text],
.loginform input[type=password],
.email,
.password{
	width: 260px;
	padding: 10px;
	font-size: 15px;
	outline: none;
	border: none;
	border-radius: 5px;
	box-shadow: 0 1px 1px #D5D6D7;
	margin: 10px 0 0 0;
	font-family: 'PT Sans Caption', sans-serif; 

}

/*.loginform input[type=text],
.email{
	border-bottom: 1px solid lightgray;
	margin: 0;
}

.loginform input[type=password],
.password{
	border-top: none;
	margin: 0;
}*/


.regform input[type=submit],
.loginform input[type=submit] {
	width: 280px;
	padding: 10px 10px 10px 10px;
	color: white;
	border: none;
	font-size: 15px;
	cursor: pointer;
	/*font-family: 'PT Sans', sans-serif; */
	font-family: 'PT Sans Caption', sans-serif; 

	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.regform_new input[type=submit]{ /* цвет конпки зарегаться внизу */
	width: 280px;
	padding: 10px;
	color: white;
	border: none;
	font-size: 15px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	background: #7DC068;
	border-radius: 5px;
	
	margin-top: 20px;
	/*font-family: 'PT Sans', sans-serif; */
	font-family: 'PT Sans Caption', sans-serif; 

}

.loginform input[type=submit]{ /* цвет кнопки Войти */
	background: #7DC068;
	margin-top: 20px;
}

.companyline{
	width: 960px;
	left: 50%;
	margin-left: -480px;
	position: fixed;
	bottom: 20px;
	/*font-family: 'PT Sans', sans-serif; */
	font-family: 'PT Sans Caption', sans-serif; 
}

.companyline ul{
	padding: 0;
}

.langline {
	text-align: right;
	position: absolute;
	top: -4px;
	right: 0;
	padding: 0px;
	cursor: pointer;
}

.localemenu{
	position: absolute;
	top: -110px;
	left: -4px;
}

.localemenu ul{
	background: white;
	width: 80px;
	padding: 5px 0;
}

.localemenu ul:before{
	content: " ";
	width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    position: absolute;
    top: 102px;
    left: 30px;
}

.localemenu ul li{
	list-style: none;
	width: 60px;
	text-align: left;
	padding: 5px 5px 5px 15px;
}

.localemenu ul li:hover {
	background: #835b4a;
}
.localemenu ul li:hover a {
	color: white;
}

.localemenu ul li a{
	color: black;
}

.langline{
	padding: 0 10px 0 0;
}

.langline img{
	position: relative;
	top: 3px;
}

.rem_for{
	position: relative;
	margin: 10px 0 0 0;
	color: black;
	font-family: 'PT Sans Caption', sans-serif; 

}
.rem_for input{
	 position: relative;
	 top: -1px;
}

.rem_for a{
	text-decoration: none;
	color:#835b4a;
}

.need {
	text-align: center;
	font-size: 14px;
	height: 39px;
	line-height: 39px;

}

.forgot {
	position: absolute;
	top: 3px;
	right: 3px;
}
.forgot a{
	color: lightgray;
	text-decoration: none;
}
.forgot a:hover{
	color: #000;
}

.Lightoak{
	margin: 0 0 9px 0;
	padding: 30px 0;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

.nomagrin {
	margin: 0 0 10px 0;
}

.companyline li{
	list-style: none;
	display: inline-block;
	padding-right: 10px;
}

.companyline li a,
.langline{
	text-decoration: none;
	color: #fff; /* цвет внизу индекса */
	
}

.regform input[type=submit] { /* цвет кнопки зарегаться вверху */
	background: #AD886A;
}

.save_pic{ 
	width: 152px;
	right: 20px;
	bottom: 20px;
	padding: 11px 10px 9px 10px;
	color: white;
	border: none;
	font-size: 15px;
	background: #7DC068;
	position: absolute;
	margin: 0;
	/*font-family: OfficinaSansExtraBoldOSC; */
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	font-family: 'PT Sans Caption', sans-serif; 

	border-radius: 5px;
}

.inp_pic{
	padding: 9px 10px 4px 10px;
	margin: 20px 10px 0 0;
	color: white;
	border: none;
	font-size: 15px;
	background: #FCAB54;
	border-radius: 5px;
}

.inp_pic img{
	width: 24px;
}

.photohere{
	width: 280px;height: 280px;background: #9ECFEF;
	border-radius: 5px;
}

.two{
	margin: -50px auto 195px auto;
}


/* main page*/



body .dark{
	background: #000;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	-webkit-transition-property: background;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    display: none;
    z-index: 100;

}

body .menu_line{
	position: fixed;
	top: 0;
	background: #AD886A;
	height: 60px;
	display: inline-block;
	line-height: 60px;
	width: 100%;
	color: white;
	/*font-family: OfficinaSansExtraBoldOSC;*/
	z-index: 101;

}

body .menu_line .content_menu_line{
	width: 960px;
	margin: 0 auto;
	position: relative;

}

body .menu_line .content_menu_line .profile_block:hover,
body .menu_line .content_menu_line .create_post:hover{
	cursor: pointer;
}

body .menu_line .content_menu_line .profile_block,
body .menu_line .content_menu_line .create_post,
body .menu_line .content_menu_line .search_block{
	float: left;
}


body .menu_line .content_menu_line .profile_block{
	width: 260px;
    font-family: OfficinaSansExtraBoldOSC; 
    height: 40px;
    position: relative;
    top: 5px;
	padding: 5px 0;
	border-radius: 5px;

}

body .menu_line .content_menu_line .profile_block:hover{
	background: rgba(0,0,0,0.1);
}

body .menu_line .content_menu_line .profile_block .text_back{
	width: 200px;
	font-size: 24px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	margin: 0 0 0 20px;
	line-height: 43px;

}


body .menu_line .content_menu_line .profile_block .profile_img,
body .menu_line .content_menu_line .profile_block .profile_name{
	float: left;
	height: 40px;
	line-height: 43px;
}

body .menu_line .content_menu_line .profile_block .profile_img {
	width: 40px;
	height: 40px;
}

body .menu_line .content_menu_line .profile_block .profile_name {
	width: 200px;
	font-size: 24px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	margin: 0 0 0 20px;

}

.profile_img img {
	width: 40px;
	margin: 0 0 0 10px;
	padding: 0;
	border-radius: 5px;
}

body .menu_line .content_menu_line .create_post{
	width: 60px;
	font-size: 40px;
	text-align: center;
    font-family: OfficinaSansExtraBoldOSC; 
    height: 40px;
    line-height: 42px;
    padding: 5px 0;
    position: relative;
    top: 5px;
    border-radius: 5px;

}

body .menu_line .content_menu_line .create_post:hover{
	background: rgba(0,0,0,0.1);
	
}

body .menu_line .content_menu_line .search_block{
	margin: 0 0 0 20px;
	width: 620px;
}

body .menu_line .content_menu_line .search_block .seach_content{
	color: black;
	background: white;
	position: relative;
	top: -1px;
	padding: 10px;
	line-height: 17px;
	opacity: 0;
	-webkit-transition-property: background;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    display: none;
    max-height: 360px;
    overflow: hidden;
}

body .menu_line .content_menu_line .search_block input{
	width: 600px;
	padding: 5px 10px;
	font-family: 'PT Sans Caption', sans-serif; 
	
	font-size: 15px;
	border: none;
	margin: 15px 0 0 0;
	outline: none;
}

body .main_content{
	margin: 80px auto 0 auto;
	width: 960px;
	overflow: auto;
}

.profile_content{
	width: 920px;
	padding: 20px;
	box-shadow: 0 2px 2px #D5D6D7;
	float: left;
	border-radius: 5px;
	background-color: white;
}

.video_content{
	width: 600px;
	padding: 20px;
	margin: 0 auto;
	box-shadow: 0 2px 2px #D5D6D7;
	border-radius: 5px;
	background-color: white;
	position: relative;
}

.active_user input{
	background: #FC6264;
	width: 280px;
	padding: 10px;
	color: white;
	border: none;
	font-size: 15px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	border-radius: 5px;
	font-family: 'PT Sans Caption', sans-serif; 
}

.active_user input{
	background: #FCAB54;
}

.video_online{
	height: 450px;
	width: 600px;
	background: #9ECFEF;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.actions_bar{
	background: rgba(0,0,0,0.5);
	height: 60px;
	position: absolute; 
	bottom: 5px;
	padding: 0 180px;
	z-index: 10;
	text-align: center;
}

.action_item,
.warning_item{
	width: 40px;
	height: 40px;
	position: relative;
	top: 10px;
	/*background: #FCAB54;*/
	border-radius: 5px;
	float: left;
	margin: 0 10px;
	cursor: pointer;
}
.action_item img,
.warning_item img{
	position: relative;
	width: 30px;
	top: 5px;
}

.warning_item{
	position: absolute;
	right: 0px;
	background: #FC6264;
}

.video_message{
	position: absolute;
	width: 200px;
	height: 50px;
	background: rgba(0,0,0,0.5);
	left: 200px;
	top: 50px;
	line-height: 50px;
	color: white;
	text-align: center;
	border-radius: 5px;
	font-family: 'PT Sans Caption', sans-serif; 
}

.time_bar{
	height: 5px;
	background: black;
	position: absolute; 
	z-index: 10;
	width: 100%;
	bottom: 0;
}

.fuel {
	background: #FC6264;
	width: 70%;
	height: 5px;
	z-index: 11;
}

.chat{
	width: 640px;
	margin: 20px auto 0 auto;
}

.message_block{
	padding: 0 20px;
}

.message_to,
.message_from{
	max-width: 500px;
	border: none;
	background: white;
	outline: none;
	font-size: 15px;
	padding: 10px;
	margin: 20px 0;
	font-family: 'PT Sans', sans-serif; 
	box-shadow: 0 1px 1px #D5D6D7;
	border-radius: 5px;
	position: relative;
	line-height: 17px;
}

.message_to:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    margin: 0 0 0 -10px;
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right:10px solid white;
}

.message_from{
	position: relative;
	margin: 20px 0 20px 80px;
	background: #9ECFEF;
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	
}

.message_from:before{
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    margin: 0 -10px 0 0;
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left:10px solid #9ECFEF;
}

body .main_content .left_block{
	background-color: white;
	box-shadow: 0 2px 2px #D5D6D7;
	float: left;
	border-radius: 5px;
	overflow: hidden;
}

body .main_content .content_block{
	float: left;
}

body .main_content .left_block{
	width: 320px;
	margin: 0 10px 0 0;
	padding: 20px 0 0 0; 
}

body .main_content .left_block .select_mode{
	text-align: center;
	padding: 0 0 10px 0;
}

body .main_content .left_block .select_mode button{
	border: none;
	background: #7DC068;
	border-radius: 5px;
	font-family: 'PT Sans Caption', sans-serif; 
	font-family: TrebuchetMS;
	color: white;
	padding: 10px;
	font-size: 15px;
	margin: 0;
	width: 130px;
	cursor: pointer;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

}

body .main_content .left_block .select_mode .teacher_button{
	margin: 0 16px 0 0;
}

body .main_content .left_block .calendar{
	padding: 10px 20px 20px 20px;
}

body .main_content .left_block .day_time{
	padding: 0 0 20px 0;
}

body .main_content .left_block .day_time button{
	background: #9ECFEF;
	font-family: TrebuchetMS;
	color: white;
	padding: 10px 10px;
	margin: 0;
	border: none;
	margin-left: 17px;
	width: 54px;
	cursor: pointer;
	border-radius: 5px;
}

.disabled{
	opacity: 0.6;
}

.disabled:hover{
	opacity: 1;
}

body .main_content .left_block .day_time button:first-of-type{
	margin-left: 20px;
}

body .main_content .left_block .tree_blocks .tree_item{
	padding: 20px;
}

body .main_content .left_block .tree_blocks .tree_item:hover{
	background: #835b4a;
	color: white;
	cursor: pointer;
}

body .main_content .content_block{
	width: 620px;
	margin: 0 0 0 10px;
	padding: 20px 0;
}

body .main_content .content_block .sort_line{
	margin: 7px 0;
}

body .main_content .content_block .sort_line a{
	color:#1799b5;
	text-decoration: none;
	margin: 0 5px;
}

body .main_content .content_block .sort_line a:hover{
	text-decoration: underline;
}

body .main_content .content_block .posts_block{
	margin: 28px 0 0 -20px;
	overflow: auto;
}

body .main_content .content_block .posts_block .post_item{
	float: left;
	margin: 0 0 20px 20px;
	width: 300px;
	background-color: white;
	border-radius: 5px;
	/*box-shadow: 0 2px 2px #D5D6D7;*/
}

body .main_content .posts_block .post_item .post_header{
	font-family: OfficinaSansExtraBoldOSC;
	font-size: 19px;
	/*background: #8A9B0F;
	color: white;*/
	padding: 10px;
	overflow: auto;
}

body .main_content .posts_block .post_item .post_header .user_photo,
body .main_content .posts_block .post_item .post_header .user_name,
body .main_content .posts_block .post_item .post_header .lesson_time{
	float: left;
	height: 50px;
}


body .main_content .posts_block .post_item .post_header .user_photo img{
	width: 50px;
	border-radius: 5px;
}

body .main_content .posts_block .post_item .post_header .user_name{
	padding: 0 0 0 10px;
	line-height: 25px;
	width: 140px;
}

.lesson_time{
	width: 80px;
	line-height: 50px;
	font-size: 30px;
}

body .main_content .posts_block .post_item .post_message{
	padding: 10px;
	height: 134px;
	background: white;
	font-family: 'PT Sans', sans-serif; 
	font-size: 15px;
	text-align: justify;

}

body .main_content .posts_block .post_item .post_footer div{
	float: left;
	display: inline-block;
	line-height: 40px;
	text-align: center;
}

body .main_content .posts_block .post_item .post_footer .country{
	width: 50px;
	height: 40px;
}


body .main_content .posts_block .post_item .post_footer .country img{
	position: relative;
	top: 4px;
}


body .main_content .posts_block .post_item .post_footer .type{
	width: 50px;
	height: 40px;
	margin: 0 0 0 50px;
}

body .main_content .posts_block .post_item .post_footer .price,
body .main_content .posts_block .post_item .post_footer .active_price{
	width: 100px;
	height: 40px;
	margin: 0 0 0 0;
	font-family: OfficinaSansExtraBoldOSC;
	font-size: 20px;
	color: white;
	cursor: pointer;

}

body .main_content .posts_block .post_item .post_footer .price{
	background: #3A79AA;
	position: relative;
	border-radius: 5px 5px 0 0;
}

body .main_content .posts_block .post_item .post_footer .price .actions{
	position: absolute;
	width: 150px;
	top: -80px;
	left: -25px;
	display: none;
	background: #fff;
	color: black;
	font-family: TrebuchetMS;
	border-radius: 3px;
	-webkit-box-shadow:  0 0 0 1px rgba(0,0,0,.08);
}

body .main_content .posts_block .post_item .post_footer .price .actions ul {
	padding: 3px 0;
}

body .main_content .posts_block .post_item .post_footer .price .actions ul li{
	height: 35px;
	line-height: 35px;
	font-size: 17px;
}

body .main_content .posts_block .post_item .post_footer .price:hover .actions{
	display: block;
}

body .main_content .posts_block .post_item .post_footer .price .actions:after{
    content: '';
    position: absolute;
    bottom: -9px;
    left: 50%;
    margin: 0 0 0 -9px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-top: 9px solid white;
    border-right:9px solid transparent;
}

body .main_content .posts_block .post_item .post_footer .price .actions:before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin: 0 0 0 -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-top: 10px solid lightgray;
    border-right:10px solid transparent;
}


body .main_content .posts_block .post_item .post_footer .active_price {
	background: #6d6e40;
}



body .main_content .load_more{
	text-align: center;
	padding: 10px 0;
}

body .main_content .load_more:hover{
	cursor: pointer;
	background: #835b4a;
	color: white;
}

body .footer {
	margin: 40px auto 20px auto;
	width: 960px;
	text-align: center;
	font-family: OfficinaSansExtraBoldOSC;
}
